* {
    border: none;
    border-radius: 0;
    font-family: "ypn envypn", "siji";
    font-weight: 600;
    font-size: 12;
    min-height: 0;
}

window#waybar {
    /* background-color: #282828;
    border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    background-color : rgba(40, 40, 40, 0.98);
    color: #ebdbb2;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    /* background-color: #3F3F3F; */
}

window#waybar.chromium {
    /* background-color: #000000; */
    border: none;
}

#workspaces button {
    padding: 0 10px;
    background-color: transparent;
    color: inherit;
    border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(30, 30, 30, 0.5);
    box-shadow: inherit;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.focused {
    /* background-color: #64727D; */
    background: rgba(128, 128, 128, 0.2);
    border-bottom: 3px solid #d79921;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor {
    padding: 0 4px;
    margin: 0 10px;
    color: #ebdbb2;
    border-bottom: 3px solid #ffffff;
}

#clock {
    border-bottom-color: #b16286;
}

#battery {
    border-bottom-color: #689d6a;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    border-bottom-color: #cc241d;
}

#memory {
    border-bottom-color: #98971a;
}

#backlight {
    border-bottom-color: #458588;
}

#network {
    border-bottom-color: #458588;
}

#network.disconnected {
    border-bottom-color: inherit;
}

#pulseaudio {
    border-bottom-color: #b16286;
}

#pulseaudio.muted {
    border-bottom-color: #b16286;
}

#custom-media {
}

#custom-media.custom-spotify {
}

#custom-media.custom-vlc {
}

#temperature {
    border-bottom-color: #fabd2f;
}

#temperature.critical {
    border-bottom-color: #fb4934;
}

#tray {
    border-bottom-width: 0px;
}

#idle_inhibitor {
    border-bottom-color: #d79921;
}

#idle_inhibitor.activated {
}

#mpd {
}

#mpd.disconnected {
}

#mpd.stopped {
}

#mpd.paused {
}

